
  body {
    
    padding-top: 75px; /// no overlap top content 
    padding-bottom: 75px; /// no overlap bottom content 
    background-color: #330000;
background-image:
linear-gradient(45deg,
rgba(221, 17, 136, 0.7),
rgba(255, 170, 51, 0.9)), url(
'/assets/img/k5.png');
background-attachment: fixed;
background-size: cover;
    
  } 
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  .save_button {
    min-width: 80px;
    max-width: 80px;
    max-height: 40px;
}
  .rounded-circle {
    border-radius: 50% !important;
  }

@media (min-width: 576px) { 
  .card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { .card-img-top {
  width: 100%;
  height: 25vw;
  object-fit: cover;
}
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  .card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { .card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
} }

  .underliner {
    color: black;
    font-size: 2em;
    font-weight: bold;
    
    background-image: linear-gradient(to bottom, transparent 80%, #e85656 50%);
    padding: .1em .4em;
    
    -webkit-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
  }
  .underliner2 {
    font-weight: bold;
    
    background-image: linear-gradient(to bottom, transparent 1%, #e88c56 100%);
    padding: .1em .4em;
    
    -webkit-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
  }
  .tooltips {
    text-align: center;
    line-height: 100vh;
  }
  p{
    font-family: "IBM Plex Sans";
    font-size: 1.3em;
    text-align: justify; 
    text-justify: inter-word;
    
  }
  .blog{
    font-family: "IBM Plex Sans";
    font-size: 1em;
  }
  footer{
    padding: 3em;
    margin-top: auto;
}

.post-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.post-nav p {
  flex: 1 1 0;
  width: 45%;
}

.post-nav p:first-child {
  padding-right: 0.5em;
}

.post-nav p:last-child {
  padding-left: 0.5em;
  text-align: right;
}
a {
  color: #0F52BA;
}
a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { color: #87CEEB;
 }

a:active { text-decoration: none; }

#search-bar {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 0 20px;
  position: relative;

  & #search {
    width: calc(100% - 30px);
    border: none;
    line-height: 44px;
    outline: none;
    border-style: none;
  }

  & #search-result {
    display: none;
    position: absolute;
    top: 48px;
    width: 70%;
    max-height: 325px;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0px 4px 8px 0 #ccc;
    z-index: 99999;

    & .result-item {
      display: block;
      padding: 8px 16px;
      text-decoration: none;

      & .title,
      .description {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      & .title {
        color: #0f468d;
        padding-bottom: 4px;
        font-size: 16px;
      }

      & .description {
        color: #757575;
        font-size: 16px;
      }

      &:hover {
        background-color: #e0edf1;
      }
    }
  }
}


.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}
.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #e9ecef;
}
.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}
.timeline > li:after, .timeline > li:before {
  display: table;
  content: " ";
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #070707;
}
.timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4, .timeline .timeline-heading .h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading, .timeline .timeline-heading .subheading.h4 {
  text-transform: none;
}
.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}
.share-button {
  margin: 0px;
  padding: 10px 20px 10px 20px;
  opacity: 0.9;
}

.share-button:hover {
  opacity: 1;
}

.share-this {
  text-align: center;
  padding-top: 50px;
}

#share-box {
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
  border-radius: 25px;
}

.fa-facebook-official {
  color: #3b5998;
  font-size: 40px;
}
.fa-google-plus {
  color: #d34836;
}

/* used share-linkedin here as fa-linkedin class is also used for sidebar. If fa-linkedin is used here, it colors even the sidebar */

.fa-envelop {
  color: #444444;
}
.fa-reddit {
  color: #ff5700;
}


///// COPY CLIP
.highlight > pre > div{
  display: flex;
  flex-direction: row-reverse;
}
.btn-copy{
  color: #FFF;
  background-color: #EB3A3A;
  border: 0;
  padding: 5px 10px;
  cursor: pointer;
}
.btn-copy:hover{
  background-color: rgba(235, 58, 58, 0.774);
}
/* modification for button copy */

.highlight {
  background-color: #333A40;
  border-left: 0.25em solid rgba(235, 58, 58, 0.9);
  padding: 0 0 1em 1em;
  margin: 1em;
  overflow-x: auto;
  white-space: nowrap;
}

.highlighter-rouge{
  background: rgba(235, 58, 58, 0.9);
  color: #FFFFFF;
  padding: 0.2em;
  border-radius: 0.2em;
}
.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #fbf1c7;
  background-color: #282828;
}
.highlight .err {
  color: #fb4934;
  background-color: #282828;
  font-weight: bold;
}
.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
  color: #928374;
  font-style: italic;
}
.highlight .cp {
  color: #8ec07c;
}
.highlight .nt {
  color: #fb4934;
}
.highlight .o, .highlight .ow {
  color: #fbf1c7;
}
.highlight .p, .highlight .pi {
  color: #fbf1c7;
}
.highlight .gi {
  color: #b8bb26;
  background-color: #282828;
}
.highlight .gd {
  color: #fb4934;
  background-color: #282828;
}
.highlight .gh {
  color: #b8bb26;
  font-weight: bold;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #fb4934;
}
.highlight .kc {
  color: #d3869b;
}
.highlight .kt {
  color: #fabd2f;
}
.highlight .kd {
  color: #fe8019;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #b8bb26;
  font-style: italic;
}
.highlight .si {
  color: #b8bb26;
  font-style: italic;
}
.highlight .sr {
  color: #b8bb26;
  font-style: italic;
}
.highlight .se {
  color: #fe8019;
}
.highlight .nn {
  color: #8ec07c;
}
.highlight .nc {
  color: #8ec07c;
}
.highlight .no {
  color: #d3869b;
}
.highlight .na {
  color: #b8bb26;
}
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
  color: #d3869b;
}
.highlight .ss {
  color: #83a598;
}




