<!--Main Navigation-->

<nav class="navbar navbar-expand-lg fixed-top navbar-scroll shadow-0"  style="background-color: black; ">
    <div class="container">
      <a class="navbar-brand" href="/" style="color: red; font-size: 20px;">GL4UC0M4 <span style="color: white;">Security Blog</span></a>
      <button style="color: white;" class="navbar-toggler ps-0" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="d-flex justify-content-start align-items-center">
          <i class="fas fa-bars"></i>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a  style="color: white;" class="nav-link px-3" href="/">Home</a>
          </li>
          <li class="nav-item active">
            <a  style="color: white;" class="nav-link px-3" href="/about">About me</a>
          </li>
          <li class="nav-item">
            <a  style="color: white;"  class="nav-link px-3" href="/contact">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a  style="color: white;" class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a  style="color: white;" class="dropdown-item" href="/cybersecurity">Cybersecurity</a></li>
              <li><a style="color: white;" class="dropdown-item" href="/linux">Linux</a></li>
              <li><a  style="color: white;"class="dropdown-item" href="/network">Network & Protocols</a></li>
            </ul>
          </li>
        </ul>
  
        <ul class="navbar-nav flex-row">
          <li class="nav-item">
            <a  style="color: white;" class="nav-link pe-3" href="https://github.com/Gl4uc0m4">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <li class="nav-item">
            <a style="color: white;" class="nav-link ps-3" href="https://twitter.com/Glaucom86060870">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>