---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

    <style type="text/css">
      
    {% capture include_to_scssify %}
    {% include main.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}

    </style>
  </head>
  <body>
    {% include nav.html %}
  <div class="container">
    <h1 class="text-center"> Contact </h1>
    <p style="  background-color: black; color: wheat; padding: 5px 5px 5px 5px; border-radius: 10px ;"> If you want to contact me here is my PGP public key. Don't forget to send your public key if you send me an email, otherwise I'm not going to answer.</p>
    <figure class="highlight"><pre><code class="language-python" data-lang="python" id="code16">
      -----BEGIN PGP PUBLIC KEY BLOCK-----

      mQINBGLdOaABEAC2zxZ7EUe1bf9rlakY/pK+7ZoJhd9s3aGnlfFKwy/E1GOKfDZr
      xWsaImLY+UGN5skI83mQYz5fnUqvdeEfDqYeGouC02q7wSriBtoc72YrxUVXSQqb
      8TQ4MhAIwbHW8YVGEMp/1wFaynRRJU9rmHzChK0YiLWhh0rJR7om3+ppLxylAXJn
      t78IvQqIg8gHqDJGfzhyAvPicLmrx7iIvPIPQe4Vv4xSVV2RNUcmbRIqEGrIJDQw
      oqRH0DB9lVa6eaF47j3SjzNU71o61I8S2lFmgVmxomGjjlzjkXDUABGaAJkxbvh9
      OkQBS0eohe5rmz2rDZJCjI2vfw5XVRATejkN+t0Av/imRcwfO5GXYUyxjqdTyVE8
      Z2ksMPBBUc25HmCD273Wtp9wmePPkw5+4a2q9u7xyccQJME/2mU6iWvkmxrVov2e
      eomMdD7V1H+WSqCWPJziD6rEBS415cxCqiS3qnEd/hDWBua0Uk2w+9KUUgCzuasm
      RzhDe1IRj/6OrGjAM22RFSiqdYCEAc99quvcfdhb9n1VVlxS6nwjRvXCrgDw0DS0
      /9FYul9SiLK1GbqiNuk025/+Ca3fo4iyfhDL+ixZnME8gxsCFCknB09X3876cXD4
      PI0HUyuqF+woYdgNW+0xuVjknTP9tcj5kQEf9Sgoec01C9s46yHRIjAX+QARAQAB
      tD5NaWd1ZWwgUGFudG9qYSAoU29mdHdhcmUgRW5naW5lZXIpIDxnbGF1Y29tYXpl
      cm9kYXlAZ21haWwuY29tPokCTgQTAQoAOBYhBM0nmSe+V5CItIZwRxxcbOspOfw2
      BQJi3TmgAhsDBQsJCAcCBhUKCQgLAgQWAgMBAh4BAheAAAoJEBxcbOspOfw2fUsP
      /2jI+43d93cGrJc4ju9CCNturmAbVufyVsSkRnvsfiP5jfgbsvYHesA3fHLTSIMs
      me/n2U6Z7iablRh43zOhhrAwSzp1hIDdlIFXG60sbLm9PDsTu6Q49E4MPTTjrOeY
      ZFpP+2F4P8ovCQcky1s/JDfWD7FeYvbndsB2rNTSJCQ+2ZMzC+vaseIR82I2vSUX
      odTJ4zzKIoNVx9EYWBTUw8DEvLvy9wA9aBE3Zwq28pu+yUcC8JLdFq3LqdRPJdCT
      VnTcbbDAPE7XlesPkPIw4d2fs0wY9F3/rf7BsiOimME6Lf9fGwysQ/xJ5ZAUD1ey
      hTYrvOgBhwFkzE+gp2JyDv9HsACWqkvxyg4eoR/xVdld3VJ7ZhQGCFHL/N3C0YpL
      zAy19K/558yFpOqGi57o4AlC/ABZeZ8qxl5oFxggop/1jYaOwZb00wETKYK3fNRT
      dgwRW4eHMjCf3YUzPl/cc/5T/pse5uY1b5tQwt4z3wLAMWvj91nyzTto3syaJUUZ
      ONgBrZMzDJFjgKzSR/jLt7IdK0il2BKEeYxI6DO0k4/N8y72ladiJKihx4ltNqSV
      IW7vmVttqSNiXhF4P8Uq6IrgLrqFZ6i+0xZ6tP/HS/NAtkHJTV96yHuRcSn3hqW5
      I6Qcjg31oyXPNCiveRohtQHv89VyOTU2jqzJMI2l/0fjuQINBGLdOaABEACW2QQc
      7xMA4MKu3sivtvO4I6rK0j2Rxox6vPuHQPU5SLdkkyMHSzQcc4xtdQLKHRqLAgBU
      o1htMvXPd1TEHFPEtAvZQ3j/0o0M57KV+CTOsazIW1zHvTi+lRUos/KZ0kUHsgZe
      lmteeEdhvof/7GhhdXdVsUILo8K9EygKIqFVUp9DKTQUdcCGZ/CZ790B4FMFCFDg
      sxSABpk9yp+GKG84SI2XLVkpa9mETpKBRL9drVNqzbexwXcpBASq6ft2sc6afH3u
      9SJKQNjPywheObkE3XR374KlncioY7ZEFey8eCb07Gg9Ck1+DBbkvE8mKaHbiGF3
      achQyHvxW9VFpRotdy45lqi6w/EshrYa7/n6T9kOcLV+M4tS5W/W1s7Y7KvyvTtr
      YY3/sMfh4TOdcZqAu80xtHOAZVv/N85V9H6GMVKHolaUNfX1YXS9V6smj3ydfPnt
      ynONcrtjNzbVtBLLfTI/ye8jreJTLmaMMk6qilE3fRUP9uamY8rdszPdOfyvElLy
      GG+VY+yr52AhOmY6h+GQLCMW6Ay7E3LZHSnhTK8mHiLSyNz0uEuvufWQIodlATvh
      HxB9QmmIHq+huxWHVtu6ASZeSeuhkhu+zDfzS3VsdS2oc+j4pysoaJ9l92+Z/3V5
      ST2u7ZE2WqIwBqDeeS8PndvyyrZzaqiFrjYdPwARAQABiQI2BBgBCgAgFiEEzSeZ
      J75XkIi0hnBHHFxs6yk5/DYFAmLdOaACGwwACgkQHFxs6yk5/DZF/w/+P7h90Mly
      tJC7n6jpwT+Ae2tWrPn8D6cJeaVFSCwi8CVh2AERzzGvwN3DMKcENQGQlNze5MeT
      Z0JnDP4qPlPBFYL1jBKeOIO38FY5Lw5sxv4vQ0hSgEs/xeNnTBMc+k+g9kSvbFSb
      6M+3Ogn5vBSpG2RDIm5NK3wIOrGleaR84Pymx+/Sqlo5c/PEbOd4l1wmK/afJd1Q
      Q9BOL4TEIyDB76RngYNZTVI+pN0OQZA7g4XMlnlNQVavvnQIw+RkXVV1s0yU4T+n
      iIpNmpWPu/JHtOkXgKl6GxvTnauyfiKSe/bV5woUwtfZO2vhVlTxxcbP0eHv1f3o
      C/NmULPi+afdtMuck/uv5pnzBh23aazjm/9EMrUTF1dqiZ0ZIdhaZYwAlWM+nLmf
      W39BgoyUwiQ2NqgDIRAoLu2Uu2EIFMUQ6k2Rzefc5e1eLZjniOMs8Ug8DQgxHjFh
      aOiGFmM1Sl0ZV8e8ERU2OvXWpKcr718fTsCD4zhpgIg4gzQGQqKIphLQJcxt3Cva
      3VoimOZUTixwgYkW2GJshwEfk9IfnGlGrNpVYjw4wKjiqlTND0DulxwmEoCn2H7K
      repdgs8q4sAkCsHXyUVDuDnHKSvcRh5JcYeXjvCDpls0Nzpk0A8frBXUr1yRs4I/
      +CeCSiMfDyCysAsoh99JI2Ld1x4+/vF2jkc=
      =iYu1
      -----END PGP PUBLIC KEY BLOCK-----
      
    </code></pre></figure>
  </div>
  {% include footer.html %}
  <script src="/assets/js/clipboard.min.js"></script>
<script>let codes = document.querySelectorAll('.highlight > pre > code');
  let countID = 0;
  codes.forEach((code) => {
  
    code.setAttribute("id", "code" + countID);
    
    let btn = document.createElement('button');
    btn.innerHTML = "Copy";
    btn.className = "btn-copy";
    btn.setAttribute("data-clipboard-action", "copy");
    btn.setAttribute("data-clipboard-target", "#code" + countID);
    
    let div = document.createElement('div');
    div.appendChild(btn);
    
    code.before(div);
  
    countID++;
  }); 
  
  let clipboard = new ClipboardJS('.btn-copy');</script>
  
   
</body>
</html>
