---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% seo %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MYWGBX77MM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MYWGBX77MM');
</script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

    <style type="text/css">
      
    {% capture include_to_scssify %}
    {% include main.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}

    </style>
  </head>
  <body>
    {% include nav.html %}
<div class="container">
    
    <h1> Linux posts</h1>
    <p> In this page you can find all the posts categorized as linux</p>
</div>
  <div class="container">
    
    {% for post in site.categories.Linux %}
 <li class="list-group-item  list-group-item-primary"><span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
 <hr>
{% endfor %}
  </div>
  {% include footer.html %}

  
   
</body>
</html>