---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

    <style type="text/css">
      
    {% capture include_to_scssify %}
    {% include main.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}

    </style>
  </head>
  <body>
    {% include nav.html %}
    <section class="page-section" id="about">
      <div class="container">
          <div class="text-center mb-5">
              <h2 class="section-heading text-uppercase" style="font-weight: bold;">About</h2>
              <h3 class="section-subheading text-muted" style="font-weight: bold;">The Road so far.</h3>
          </div>
          <ul class="timeline">
              <li >
                  <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/college2.jpg" alt="college" /></div>
                  <div class="timeline-panel">
                      <div class="timeline-heading"  style="font-weight: bold; padding-bottom: 15px;">
                          <h4 style="font-weight: bold;">September 2017</h4>
                          <h4 style="font-weight: bold;" class="subheading">Glaucoma Beginnings</h4>
                      </div>
                      <div class="timeline-body" style="  background-color: white;
                      box-shadow: 0 0 5px 10px white;" ><p > Started college, studying software engineering. Full of OOP, algorithms and lots of mathematics!</p></div>
                  </div>
              </li>
              <li class="timeline-inverted">
                  <div class="timeline-image"><img class="rounded-circle img-fluid"  src="assets/img/reo2.jpg" alt="security" /></div>
                  <div class="timeline-panel">
                      <div class="timeline-heading" style=" padding-bottom: 15px;">
                          <h4 style="font-weight: bold;">2018 - 2020</h4>
                          <h4 style="font-weight: bold;" class="subheading">An Interest is Born</h4>
                      </div>
                      <div class="timeline-body" style="  background-color: white;
                      box-shadow: 0 0 5px 10px white;"><p class="text-muted">I started to get interested in cybersecurity thanks to many Spanish speakers such as Pablo Gonzalez Perez, S4vitar and English speakers such as David Bombal or Ippsec. It was during this same period that I started experimenting on the Hack the Box platform.</p></div>
                  </div>
              </li>
              <li>
                  <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/devGoat.png" alt="devTeam" /></div>
                  <div class="timeline-panel">
                      <div class="timeline-heading" style=" padding-bottom: 15px;">
                          <h4 style="font-weight: bold;">2020 - 2021</h4>
                          <h4 style="font-weight: bold;" class="subheading">Dev Team and Friends</h4>
                      </div>
                      <div class="timeline-body" style="  background-color: white;
                      box-shadow: 0 0 5px 10px white;"><p class="text-muted">Pretty presumptuous, but we called ourselves G.O.A.T. developers. We were already doing projects with continuous integration and using agile methodologies like Scrum in software development. Learning to work in a team and collaborating on Github, the best experiences of my life.</p></div>
                  </div>
              </li>
              <li class="timeline-inverted">
                  <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/ble2.jpg" alt="ble" /></div>
                  <div class="timeline-panel">
                      <div class="timeline-heading" style=" padding-bottom: 15px;">
                          <h4 style="font-weight: bold;">2022</h4>
                          <h4 style="font-weight: bold;" class="subheading">Final Degree Project</h4>
                      </div>
                      <div class="timeline-body" style="  background-color: white;
                      box-shadow: 0 0 5px 10px white;"><p class="text-muted">In the year 2022 I presented my final degree work on BLE security. In this work I presented the different vulnerabilities present in BLE and by using my laptop with some boards I performed a series of attacks on a Smart Lock, presenting some corrective measures on the different attacks.</p></div>
                  </div>
              </li>
              <li class="timeline-inverted">
                  <div class="timeline-image">
                      <h4>
                          Glaucoma
                          <br />
                          is
                          <br />
                          born!
                      </h4>
                  </div>
              </li>
          </ul>
      </div>
  </section>
  {% include footer.html %}

    
</body>
</html>
