---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
     
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  {% if page.keywords %}
 <meta name="keywords" content="{{ page.keywords }}" />
  {% else %}
 <meta name="keywords" content="your-default-comma-separated-keywords" />
 {% endif %}
    <title>{{ page.title }} - {{ site.title }}</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

    <style type="text/css">
      
    {% capture include_to_scssify %}
    {% include main.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}

    </style>
  </head>
  <body>
    
    {% include nav.html %}
    
    <div class="container mt-5 pt-5" style="background-color: white; border-radius: 25px;">
      
      <div class="row">
        
          <div class="col-lg-8" style="padding-left: 20px;">
            <div class="container">
              <div class="post-nav">
                 <p class="linker">
                   {% if page.previous.url %}
                   <a href="{{page.previous.url}}">&#8672;&nbsp;Previous</a>
                   {% endif %}
                 </p>
                 <p class="linker">
                   {% if page.next.url %}
                   <a href="{{page.next.url}}">Next&nbsp;&#8674;</a>
                   {% endif %}
                 </p>
               </div>
            </div>
              <!-- Post content-->
              <article style="padding-left: 20px;">
                  <!-- Post header-->
                  <header class="mb-4">
                      <!-- Post title-->
                      <h1 class="fw-bolder mb-1"> {{ page.title }}</h1>
                      <!-- Post meta content-->
                      <div class="text-muted fst-italic mb-2">Posted on {{ page.date | date: "%B %-d %Y" }} by Gl4uc0m4</div>
                      <!-- Post categories-->
                      
                      <i class="fas fa-tag"></i>
                      {% for tag in page.tags %}
                      <span class="badge bg-secondary text-decoration-none link-light" >{{ tag}}</span>
                       {% endfor %}
                       &nbsp;
                       |
                       &nbsp;
                      
                       <i class="fas fa-folder"></i>
                       {% for category in page.categories %}
                      <span class="text-decoration-none link-light" ><a href="{{site.baseurl}}/{{category|downcase}}">{{category}}</a></span> &nbsp; &nbsp; 
                       {% endfor %}
                       
                    
                      
                  </header>
                  <!-- Preview image figure-->
                  <figure class="mb-4"><img class="img-fluid rounded" style="width: 900px; height: 400px;" src="{{ page.teaser }}" alt="post image" /></figure>
                  <!-- Post content-->
                 
                  <section class="mb-5">
                      <p  class="fs-5 mb-4">{{ content }}</p>
                  </section>
              </article>
             
          </div>
          <!-- Side widgets-->
          
          <div class="col-lg-4">
              <!-- Search widget-->
              <div class="card mb-4">
                  <div class="card-header">Search</div>
                  <div class="card-body">
                      <div class="input-group">
                          {% include searchbar.html %}
                      </div>
                  </div>
              </div>
              <!-- Categories widget-->
              <div class="card mb-4">
                  <div class="card-header">Posts by tag</div>
                  <div class="card-body">
                  
                    {% for tag in site.tags %}
                    <h5>{{ tag[0] }}</h5>
                    <ul>
                      {% for post in tag[1] %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                      {% endfor %}
                    </ul>
                  {% endfor %}
                  </div>
              </div>
              <div class="card mb-4  mt-4 sticky-xl-top">
                <div class="card-header" style=" font-weight: bold;">Contents</div>
                <div class="card-body">
                  <ul>
                    <nav>
                      {% include toc.html html=content %}
                    </nav>
                  </ul>
                </div>
            </div>
          </div>
        
      </div>
  </div>
  <div class="container">
   
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <h3 class="share-this" style="font-size: 2.5em;">Share this!</h3>
    <div id="share-box" style="background-color: white;"> 
           
            <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" onclick="window.open(this.href, 'mywin',
    'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"><i class="fa fa-twitter fa share-button"></i></a>
           
           
            <a href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}" onclick="window.open(this.href, 'mywin',
    'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;" ><i class="fa fa-reddit fa share-button"></i></a>
           <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary={{ page.description }}&source={{site.url}}" onclick="window.open(this.href, 'mywin',
    'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" ><i class="fa share-linkedin fa-linkedin fa share-button"></i></a>                         
            <a href="mailto:?subject={{ page.title }}&amp;body=Check out this site {{ site.url }}{{ page.url }}"><i class="fa fa-envelope fa share-button"></i></a>                                  
    </div>

 
  



  </div>
   
      
      
    {% include footer.html %}

    
  </body>
</html>